.card
{
    width: 100%;
    background: #2a3677;
    border-radius: 15px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.creative
{
    width: 35%;
}
.button
{
    width: 30%;
}
.gif
{
    padding-right: 50px;
}
/* .gif Image
{
    padding-right: 50px;
} */
.h1
{
    font-size: 50px;
}
.btn
{
    padding: 20px 40px;
    border-radius: 10px;
    background: #8086AD;
    font-size: 25px;
}
.btn:hover
{
    background: #273881;

}
.learning
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.Lcard
{
    display: flex;
    width: 48%;
    justify-content: space-between;
    padding:10px 10px 10px 30px;
    border: 2px solid rgba(128, 128, 128, 0.473);
    border-radius: 15px;
    /* box-shadow: 0 0 5px 1px  rgba(0, 0, 0, 0.283); */
}
.toon
{
    object-fit: cover;
}
.Ttext
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 40px;
}
.Ttext h1:first-child
{
    color: #2a3677;
    font-size: 25px;
    font-weight: 700;
}
.Ttext h1:nth-child(2)
{
    color: #2a3677;
    font-size: 30px;
    font-weight: 600;
}
@media screen and (max-width: 1500px) {
.learning
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Lcard
{
    width: 100%;
}
.card
{
    padding: 20px;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    gap: 25px;
}
.creative
{
    width: 100%;
}
.button
{
    width: 100%;
}
.gif
{
    padding-right: 100px;
    display: none;
}

.h1
{
    font-size: 50px;
}
.btn
{
    padding: 10px 40px;
    border-radius: 10px;
    background: #8086AD;
    font-size: 15px;
}
.btn:hover
{
    background: #273881;

}
}