.right
{
    color: #000000;
}
.rightHead
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rightHead p
{
    letter-spacing: 4px;
}
.rightHead hr
{
border: 1px solid grey;
}
.reminder p,
.events .eventsHead p:nth-child(1)
{
    font-size: 28px;
    font-weight: 600;
}
.events .eventsHead
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.events .eventsHead p:nth-child(2)
{
    font-size: 40px;
}